.button {
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 1px;
    cursor: pointer;
    background-color: #e7e7e7; 
    color: black;
}

h6 {
    display:inline-block;
    font-size: 16px;
}

select {
    padding: 5px 12px;
    margin: 1px 1px;
    font-size: 16px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background: #e7e7e7;
    color: black;
    border:none;
    outline:none;
    display: inline-block;
    cursor:pointer;
}