<div class="tweets">
  <div>
    <input #textbox type="text" placeholder="Search..">
    <button class="button" (click)="logText(textbox.value)">Search</button>

  <h6> Number of tweets : </h6>
  <select id="count" (change)="onCountSelect($event)">
      <option *ngFor="let count of counts" >
        {{ count }} 
      </option>
  </select> 

  <h6> Filter By : </h6>
  <select id="city"  (change)="onSortSelect($event)" >
    <option *ngFor="let type of sort" >
        {{ type }} 
    </option>
  </select> 
  </div>
  
  <div class="card" *ngFor="let tweet of tweets">
    <app-tweet [tweet]="tweet"></app-tweet>
  </div>
</div>